!!!5
%html{:lang=>'ru'}
  %head
    = render :partial => "/layouts/head"
  %body
    .container.layout.wrapper
      .header{:role=>"banner"}
        = render :partial => "/layouts/header"
      -if @middle
        = render :partial => "/layouts/"+@middle
      .main{:role=>"main"}
        = yield
      .layout-footer
    .footer{:role=>"contentinfo"}
      .container.wrapper
        .row
          = render :partial => "/layouts/footer"
    = render :partial => "/layouts/form_user"
    = javascript_include_tag "/ext/headjs/head.min"
    = render :partial => "/layouts/headjs"
    -if @script
      = javascript_include_tag @script
    -if @script == "contact"
      = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'
