-@view = {:title=>"Каталог товаров", :description=>"Каталог продукции HoReCa Store", :keywords=>"Каталог"}
-@css = "catalog"
-@script = "catalog"
-@activeCatalog = "active"
-@breadcrumbs = {:path => ['catalog']}

.row-fluid
  .span9.offset3
    %h1.unified.page-title= @view[:title]

.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked.left-menu
      %li.nav-header Каталог
      -12.times do
        %li= link_to("Раздел товара #{'<i class="fa fa-caret-right pull-right fa-fw"></i>'}", '#')
  .span9.catalog-groups
    -6.times do
      .row-fluid.catalog-group-items
        -2.times do
          .span6
            .media-heading.line-dotted= link_to('Раздел товара', '#')
            .media
              = link_to(image_tag(lorem_image("120x140"),:class=>'media-object img-polaroid'),'#', :class=>'pull-left img-hover')
              .media-body
                %ul
                  -6.times do
                    %li=link_to("Наименование товара","#")
