-@view = {:title=>"HoReCa Store - для отелей и ресторанов", :description=>"HoReCa Store. Поставки полного спектра текстильных изделий высокого качества, используемых в отельном и ресторанном бизнесе. Номерная косметика и средства личной гигиены.", :keywords=>"Главная"}
-@css = "home"
-@script = "home"
-@logo_span = true

.main{:role=>"main"}
  .row
    .span5.offset1
      %h1
        HoReCa Store
        %small - для отелей и ресторанов
    .span6
      %blockquote
        %span Поставки полного спектра текстильных изделий высокого качества, используемых в отельном и ресторанном бизнесе. Номерная косметика и средства личной гигиены.
  .groups-list
    .group-list-item.bathrobes
      = link_to('<span>Халаты</span>', '/catalog/category/group.html')
    .group-list-item.towels
      = link_to('<span>Полотенца</span>', '/catalog/category/group.html')
    .group-list-item.bed
      = link_to('<span>Постель</span>', '/catalog/category/group.html')
    .group-list-item.slippers
      = link_to('<span>Тапочки</span>', '/catalog/category/group.html')
    .group-list-item.bedspreads
      = link_to('<span>Покрывала</span>', '/catalog/category/group.html')
    .group-list-item.mattress-covers
      = link_to('<span>Наматрасники</span>', '/catalog/category/group.html')
    .group-list-item.pillows
      = link_to('<span>Подушки</span>', '/catalog/category/group.html')
    .group-list-item.mattresses
      = link_to('<span>Матрасы</span>', '/catalog/category/group.html')
    .group-list-item.cosmetics
      = link_to('<span>Косметика для номеров</span>', '/catalog/category/group.html')
    .group-list-item.tablecloths
      = link_to('<span>Скатерти</span>', '/catalog/category/group.html')
    .group-list-item.napkins
      = link_to('<span>Салфетки</span>', '/catalog/category/group.html')
    .group-list-item.tableware
      = link_to('<span>Посуда</span>', '/catalog/category/group.html')
  .line.line-dotted
  .row-fluid
    .span6
      %section.about.clearfix
        %h2.unified О нас
        %p Компания HoReCa Store начала свою деятельность в 2011 году с организации розничных продаж домашнего текстиля. За несколько лет накоплен большой опыт, критическая масса поставщиков более чем из десяти стран мира.
        %p В данный момент HoReCa Store - профессиональный поставщик широкого перечня товаров используемых в работе гостиничных и ресторанных сетей, для которых дизайн и качество продукции является ключом к успеху...
        =link_to("Подробнее...","/about.html", :class=>"btn btn-link pull-right")
    .span6
      %section.action-price
        .row-fluid
          %ul.thumbnails
            %li.span5.offset1
              .thumbnail.text-center
                %h3.unified Акция
                = link_to(image_tag(lorem_image("180x120"), :class=>"img-hover", :alt=>"HoReCa Store"),'/text.html')
                .captions
                  %div=lorem_words(8)
                  %p.text-right= link_to('Подробнее...', '/text.html', :class=>'btn btn-link')
            %li.span5.offset1
              .thumbnail.text-center
                %h3.unified Наши прайс листы
                = link_to(image_tag(lorem_image("180x120"), :class=>"img-hover", :alt=>"HoReCa Store"),'/text.html')
                .captions
                  %div=lorem_words(8)
                  %p.text-right= link_to('Скачать...', '/text.html', :class=>'btn btn-link')
  .line.line-dotted
  .row-fluid
    .span12
      %section.clients
        %h2.unified Наши клиенты
        .carousel_clients
          -12.times do
            .text-center= image_tag(lorem_image("140x100"), :alt=>"HoReCa Store")

