-@view = {:title=>"Ваш заказ оформлен", :description=>"Ваш заказ оформлен", :keywords=>"Ваш заказ оформлен"}
-@css = "order"
-@breadcrumbs = [{:path=>'catalog',:name=>"Каталог"},{:path=>'catalog/order',:name=>"Заказ товара"},{:path=>'catalog/order/create_order',:name=>@view[:title]}]

.main{:role=>"main"}
  .row-fluid
    .span9.offset3
      %h1.unified.page-title= @view[:title]
  .row-fluid
    .span3
      = render :partial=>"/layouts/user_menu"
    .span9
      %p
        %strong Ваш заказ № 123 от 24.06.2014 г. принят.
      %form.customer
        %fieldset
          %legend Заказчик
        %dl.dl-horizontal
          %dt Компания
          %dd ООО "Компания"
          %dt Город
          %dd Санкт-Петербург
          %dt ФИО
          %dd Иван Сидорович Иванов
          %dt e-mail
          %dd mail@mail.tt
          %dt телефон
          %dd +7-111-222-33-44
      %form.order-items
        %fieldset
          %legend Заказанные товары
        %table.table.table-striped
          %thead
            %tr
              %th ##
              %th Наименование товара
              %th Количество
              %th Цена
              %th Сумма
          %tbody
            -1.upto(3) do |i|
              %tr
                %td= i
                %td= link_to "Наименование товара", "/catalog/category/group/item.html"
                %td 5 шт.
                %td 500 руб.
                %td 2500 руб.

      %p Подробная информация о заказе выслана на указанную Вами электронную почту.
      %p В ближайшее время наши менеджеры обязательно свяжутся с Вами.
      %p.alert Если с Вами не связались в ближайшее время - просьба сообщить нам об этом по телефону или по электронной почте #{mail_to "alex@horecastore.ru"}. Ваш запрос будет обязательно рассмотрен и принят во внимание!
      %p.lead Благодарим Вас за проявленный интерес к нашей компании!
