-@view = {:title=>"Наименование товара", :description=>"", :keywords=>""}
-@css = "catalog"
-@bootstrap_select = true
-@script = "catalog-item"
-@activeCatalog = "item"
-@breadcrumbs = [{:path=>'catalog',:name=>'Каталог'},{:path=>'catalog/category',:name=>'Категория товаров'},{:path=>'catalog/category/group',:name=>'Группа товаров в категории'},{:path=>'catalog/category/group/item',:name=>'Наименование товара'}]


.row-fluid
  .span9.pull-right.main{:role=>"main"}
    %h1.unified.page-title= @view[:title]
    .row-fluid.catalog-item
      .span6
        %ul.thumbnails.popup-gallery
          %li.span12
            .thumbnail= link_to(image_tag(lorem_image("800x572")),"#mfp-img-gallery", :class=>"open-mfp-gallery")
          .row-fluid
            -3.times do
              %li.span4
                .thumbnail.img-hover= link_to(image_tag(lorem_image("350x250")),"#")
      .span6
        %form.form-horizontal
          .properties-item
            .control-group
              %label.control-label Артикул:
              .controls
                %input.span8{:type=>"text", :value=>"123456"}
            .control-group
              %label.control-label Размер:
              .controls
                %select.span8
                  %option ...
                  %option XXL
                  %option 50x70 см.
                  %option 70x140 см.
            .control-group
              %label.control-label Плотность:
              .controls
                %select.span8
                  %option ...
                  %option 400 гр/м2
                  %option 500 гр/м2
                  %option 400 ТС
            .control-group
              %label.control-label Орнамент:
              .controls
                %select.span8
                  %option ...
                  %option без орнамента
                  %option греческий
                  %option гладкий
                  %option полоса 1x1 см.
            .control-group
              %label.control-label Толщина нитей:
              .controls
                %select.span8
                  %option ...
                  %option 40х40
                  %option 40х60
            .control-group
              %label.control-label Цвет:
              .controls
                %select.span8
                  %option ...
                  %option Под заказ
                  %option Белый
                  %option Бежевый
          .line.line-dotted
          .row-fluid.starting-price
            .span12.text-center
              %strong Цена за шт.:
              %span.price= "от 1500"+content_tag(:i,'',:class=>"fa fa-rub fa-fw")
              //%i.fa.fa-rub.fa-fw
          .row-fluid.add-order
            .span4.text-center.price<
              = "1500"
              %i.fa.fa-rub.fa-fw
            .span4.text-center.count-item
              %span.span1= "&#x2715;"
              %input.input-mini.text-center{:type=>"number", :min=>"1", :value=>"1"}
            .span4.text-center= link_to("В заказ", '#mfp-add-order', :class=>"btn btn-success btn-block mfp-add-order")
    .row-fluid.description
      %blockquote
        %p=lorem_paragraph
    .row-fluid.specifications-item
      %ul.nav.nav-tabs#specifications-item
        %li.active= link_to('Все размеры', '#settings', 'data-toogle'=>'tab')
        %li= link_to('Отзывы о товаре', '#messages', 'data-toogle'=>'tab')
      .tab-content
        .tab-pane.active#settings
          %table.table.table-striped.table-bordered
            %thead
              %tr{:role=>"row"}
                %th Страна производитель
                %th Размер
                %th Плотность
                %th Орнамент
                %th Толщина нитей
                %th Цвет
                %th Количество
                %th Цена
                %th В заказ
              %tr{:role=>"row"}
                %th
                  %select
                    %option ...
                    %option Польша
                    %option Туркменистан
                    %option Турция
                %th
                  %select
                    %option ...
                    %option XXL
                    %option 50x70 см.
                    %option 70x140 см.
                %th
                  %select
                    %option ...
                    %option 400 гр/м2
                    %option 500 гр/м2
                    %option 400 ТС
                %th
                  %select
                    %option ...
                    %option без орнамента
                    %option греческий
                    %option гладкий
                    %option полоса 1x1 см.
                %th
                  %select
                    %option ...
                    %option 40х40
                    %option 40х60
                %th
                  %select
                    %option ...
                    %option Под заказ
                    %option Белый
                    %option Бежевый
                %th
                %th
                %th
        .tab-pane#messages
          -2.times do
            .well.messages
              .message-name= lorem_word
              .message-info
                %span.rating
                  %i.fa.fa-star.fa-fw
                  %i.fa.fa-star.fa-fw
                  %i.fa.fa-star.fa-fw
                  %i.fa.fa-star-half-o.fa-fw
                  %i.fa.fa-star-o.fa-fw
                %span.date
                  %i.fa.fa-calendar-o
                  = lorem_date("%d.%m.%Y", 2014..2014)+' г.'
              %p.message-body= lorem_paragraph
          = link_to("Добавить отзыв", '#mfp-message', :class=>"btn mfp-message")
  .span3.pull-left.left-menu
    %ul.nav.nav-tabs.nav-stacked.catalog-menu
      %li.nav-header Группа товаров
      %li.active= link_to("Наименование товара #{'<i class="fa fa-caret-right pull-right fa-fw"></i>'}", '/catalog/category/group/item.html')
      -8.times do
        %li= link_to("Наименование товара #{'<i class="fa fa-caret-right pull-right fa-fw"></i>'}", '/catalog/category/group/item.html')
= render :partial => "/layouts/mfp_add_order"
= render :partial => "/layouts/mfp_img_gallery"
