.middle
  .row
    .span3
      .head-contact
        %span телефон в Санкт-Петербурге:
        .phone
          %i.fa.fa-phone
          8(812)305-6020
        .email
          %i.fa.fa-envelope-o
          = mail_to "alex@horecastore.ru"
    .span9
      .well.well-large.catalog-menu
        .row-fluid
          .span4
            %ul.nav.nav-pills.nav-stacked
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Халаты","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Полотенца","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Постель","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Тапочки","#")
          .span4
            %ul.nav.nav-pills.nav-stacked
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Покрывала","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Наматрасники","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Подушки","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Матрасы","#")
          .span4
            %ul.nav.nav-pills.nav-stacked
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Косметика для номеров","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Скатерти","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Салфетки","#")
              %li=link_to("#{'<i class="fa fa-caret-right fa-fw"></i>'}Посуда","#")
