.pagination.pagination-centered
  %ul
    %li.disabled= link_to('&#171;', '#')
    %li.active= link_to('1', '#')
    %li= link_to('2', '#')
    %li= link_to('3', '#')
    %li= link_to('&#187;', '#')
