%ul.nav.nav-tabs.nav-stacked.user-menu
  %li.nav-header Личный кабинет
  %li= link_to("#{'<i class="fa fa-cubes fa-fw"></i>'}&nbsp;История заказов", '/users.html#orders')
  %li= link_to("#{'<i class="fa fa-list-alt fa-fw"></i>'}&nbsp;Личная информация", '/users.html#profile')
  %li= link_to("#{'<i class="fa fa-comments fa-fw"></i>'}&nbsp;Мои отзывы о товаре", '/users.html#messages')
  %li= link_to("#{'<i class="fa fa-sign-out fa-fw"></i>'}&nbsp;Выход из кабинета", '/')
