%ul.nav.nav-tabs.nav-stacked.user-menu
  %li= link_to("#{'<i class="fa fa-list-alt fa-fw"></i>'}&nbsp;Личная информация", '/users/info.html')
  %li= link_to("#{'<i class="fa fa-cubes fa-fw"></i>'}&nbsp;Мои заказы", '/users/orders.html')
  %li= link_to("#{'<i class="fa fa-comments fa-fw"></i>'}&nbsp;Мои отзывы", '/users/commit.html')
  %li= link_to("#{'<i class="fa fa-sign-out fa-fw"></i>'}&nbsp;Выход из кабинета", '/')
