%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
%title= @view[:title] || "Horeca store - Для отелей и ресторанов"
%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}/
%meta{:name=>'description', :content=>@view[:description] || "Horeca store - Для отелей и ресторанов" }/
%meta{:name=>'keywords', :content=>@view[:description] || "Horeca store - Для отелей и ресторанов" }/
/%link{:href => "/favicon.ico", :rel => "shortcut icon"}/
= stylesheet_link_tag "bootstrap-no-response", :media=>"screen, projection"
= stylesheet_link_tag "font-awesome/font-awesome", :media=>"screen, projection"
= stylesheet_link_tag "/ext/slick/slick", :media=>"screen, projection"
-if @bootstrap_select
  = stylesheet_link_tag '/ext/bootstrap/select/bootstrap-select.min', :media=>"screen, projection"
= stylesheet_link_tag "index1/screen", :media=>"screen, projection"
=# stylesheet_link_tag @css, :media=>"screen, projection"
-if @middle
  = stylesheet_link_tag "hover/hover", :media=>"screen, projection"
  = stylesheet_link_tag @middle, :media=>"screen, projection"
/[if IE]
  %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}/
  = stylesheet_link_tag "ie", :media=>"all"
